<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do-List</title>
    <!-- Import Tailwind CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.16/tailwind.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body class="bg-gray-800 text-gray-200 font-sans">

<div class="flex justify-center">

    <div class="w-1/6 mx-4">
        <h2 class="text-lg font-semibold mb-2"></h2>
    </div>

    <div class="w-2/6 mx-4">
        <div class="max-w-2xl mx-auto p-4 mt-3">
            <h1 class="text-3xl font-bold mb-3 text-center mx-auto"></h1>
        </div>
        <div class="max-w-2xl mx-auto p-2">
            <div class="bg-gray-700 rounded-md shadow-md p-4 flex items-center justify-between shadow-2xl">
                <div class="flex items-center">
                    <div class="h-10 w-10 rounded-full flex items-center justify-center bg-blue-600 text-blue mr-2">
                        <span class="text-lg font-medium text-2xl">{{slice .User.Login 0 1}}</span>
                    </div>
                    <span class="text-lg font-medium text-white mr-2">{{.User.Login}}</span>
                </div>
                <div>
                    <a href="/logout">
                        <button type="button" class="bg-gradient-to-r from-red-500 to-red-600 text-white py-1 px-3 mr-1 rounded-md transition duration-100">Logout</button>
                    </a>
                </div>
            </div>
        </div>

        <div class="mt-5 max-w-1xl mx-auto bg-gray-700 rounded-md shadow-lg p-3 mb-2 shadow-2xl">
            <h1 class="text-1xl font-bold mb-3 text-center mx-auto">pined</h1>
            {{range .Tasks}}
                {{if eq .IsDone 3}}
                    <div class="bg-gray-800 rounded-md shadow-md mb-1 p-4 flex">
                        <div class="flex justify-between items-center">
                            <div class="flex-grow">
                                <span class="text-lg font-lite">{{.Title}}</span>
                                <p class="text-gray-400">{{.Description}}</p>
                            </div>
                        </div>
                        <div class="ml-auto">
                            <button class="text-gray-600 transition duration-200 focus:outline-none unpin-button" task-id="{{.ID}}">unpin</button>
                        </div>
                    </div>
                {{end}}
            {{end}}
        </div>

        <script>
            const unpinButtons = document.querySelectorAll('.unpin-button');
            unpinButtons.forEach(button => {
                button.addEventListener('click', () => {
                    const taskID = button.getAttribute('task-id');
                    window.location.href = `/mark/${taskID}/0`;
                });
            });
        </script>


    </div>

    <div class="w-5/6 mx-4">
        <div class="flex-basis flex-shrink flex-grow self-center ...">
            <div class="max-w-2xl mx-auto p-4">
                <h1 class="text-3xl font-bold mb-3 text-center mx-auto ">TO-DO-LIST</h1>

                <div class="bg-gray-700 rounded-md shadow-md p-2 shadow-2xl">

                    <div class="rounded-md  p-2">
                        <div class="bg-gray-800 rounded-md shadow-md  p-3 flex items-center justify-between">
                            <a href="/create">
                                <button type="button" class="bg-gradient-to-r from-blue-500 to-blue-600 text-white py-2 px-4 ml-2 rounded-md hover:bg-blue-600 transition duration-200">Add</button>
                            </a>

                            <div class="flex items-center border-b border-gray-700 py-2 mx-2 ">
                                <input id="searchInput" type="text" name="search" placeholder="Search..."
                                       class="bg-gray-700 text-black border border-gray-1100 rounded-md px-2 py-1 w-full h-8 resize-none focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-gray-900 ">
                                <button id="searchButton" type="button"
                                        class="bg-gradient-to-r from-blue-500 to-blue-600 text-white py-1 px-2 rounded-md hover:bg-blue-600 transition duration-200 ml-2">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>


                            <script>
                                const searchInput = document.getElementById('searchInput');
                                const searchButton = document.getElementById('searchButton');

                                searchButton.addEventListener('click', () => {
                                    let searchValue = searchInput.value.trim();
                                    let searchUrl;

                                    if (searchValue === '') {
                                        <!-- searchUrl = '/search/bad request'; текст якщо не знайдено -->
                                    } else {
                                        searchUrl = `/search/${searchValue}`;
                                        window.location.href = searchUrl;
                                    }

                                });
                            </script>
                        </div>
                    </div>
                </div>

                {{if lt (len .Tasks) 1}}
                    <div class="flex justify-center items-center h-80 flex-col">
                        <div class="flex justify-center items-center">
                            <span class="text-gray-500 text-4xl font-medium">You dont have tasks</span>
                        </div>
                    </div>
                {{end}}

                {{range .Tasks}}
                    {{if eq .IsDone 0}}
                        <div class="mt-4 max-w-2xl mx-auto">
                            <div class="bg-gray-700 rounded-md shadow-lg shadow-2xl">
                                <div class="p-4 mb-2">
                                    <div class="bg-gray-800 rounded-md shadow-md mb-1 p-4 relative">
                                        <div class="flex items-center justify-between">
                                            <div class="flex items-center">
                                                <span class="text-lg font-medium">{{.Title}}</span>
                                                <label for="is_pined_{{.ID}}" class="flex items-center cursor-pointer">
                                                    <input type="checkbox" id="is_pined_{{.ID}}" class="hidden" name="is_pined" {{if .IsDone}}checked{{end}} task-id="{{.ID}}">
                                                    <span class="h-8 w-8 text-yellow-500 transition duration-200 focus:outline-none text-2xl hover:text-gray-500 transform hover:scale-125 absolute top-0 right-0">★</span>
                                                </label>
                                            </div>
                                            <div class="flex items-center justify-end mt-5 ml-4">
                                                <label class="flex items-center cursor-pointer">
                                                    <input type="checkbox" class="h-4 w-4 rounded-full bg-gray-200 appearance-none transition duration-200 focus:outline-none checked:bg-green-500 hover:bg-green-500 transform scale-90 hover:scale-110" name="is_complete" {{if .IsDone}}checked{{end}} onchange="checkedStatus(this, '{{.ID}}')">
                                                </label>
                                            </div>
                                        </div>

                                        <script>
                                            document.addEventListener('DOMContentLoaded', function() {
                                                const pinedButtons = document.querySelectorAll('[id^="is_pined_"]');

                                                pinedButtons.forEach(button => {
                                                    button.addEventListener('click', () => {
                                                        const checkbox = document.getElementById(button.getAttribute('id'));
                                                        const taskID = checkbox.getAttribute('task-id');

                                                        if (checkbox.checked) {
                                                            window.location.href = `/mark/${taskID}/3`;
                                                        }
                                                    });
                                                });
                                            });
                                        </script>

                                        <div class="flex items-center justify-between mt-2">
                                            <p class="text-gray-400">{{.Description}}</p>
                                            <div class="flex space-x-2">
                                                <a href="/edit/{{.ID}}">
                                                    <button class="text-gray-500 hover:text-gray-600 transition duration-200 focus:outline-none">Edit</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <script>
                            function checkedStatus(checkbox, taskID) {
                                if (checkbox.checked) {
                                    window.location.href = `/mark/${taskID}/1`;
                                }
                            }
                        </script>
                    {{end}}
                {{end}}

            </div>
        </div>
    </div>

    <div class="w-2/6 mx-4 mx-auto p-4...">

        <div class="mt-16 max-w-2xl mx-auto bg-gray-700 rounded-md shadow-lg p-3 mb-2 shadow-2xl">
            <h1 class="text-1xl font-bold mb-3 text-center mx-auto">completed</h1>
            <div class="flex flex-col items-center">
                <button id="deleteAllButton" type="button" class="text-gray-800">
                    <i class="fa fa-trash text-1xl"></i>
                </button>
            </div>
            <script>
                const deleteAllButton = document.getElementById('deleteAllButton');
                deleteAllButton.addEventListener('click', function() {
                        window.location.href = `/task/delete/1`;
                });
            </script>

            {{range .Tasks}}
                {{if eq .IsDone 1}}
                    <div class="bg-gray-800 rounded-md shadow-md mb-1 p-4 flex shadow-2xl">
                        <div class="flex justify-between items-center">
                            <div class="flex items-center">
                                <span class="text-lg font-light line-through text-gray-500">{{.Title}}</span>
                            </div>
                        </div>
                        <div class="ml-auto">
                                <button class="text-gray-600 transition duration-200 focus:outline-none back-button" task-id="{{.ID}}">back</button>
                            <script>
                                document.addEventListener('DOMContentLoaded', function() {
                                    const backButtons = document.querySelectorAll('.back-button');

                                    backButtons.forEach(button => {
                                        button.addEventListener('click', () => {
                                            const taskID = button.getAttribute('task-id');
                                            window.location.href = `/mark/${taskID}/0`;
                                        });
                                    });
                                });
                            </script>

                        </div>
                    </div>
                {{end}}
            {{end}}
        </div>
    </div>

    <div class="w-1/6 mx-4">
        <h2 class="text-lg font-semibold mb-2"></h2>
    </div>

</div>